{% if (lang == 'tr') %}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}

{% set attributes = attributes.addClass(classes) %}
{% set title_classes = ['block-title'] %}

{% block block %}
  <div{{ attributes }}>
    {% block title %}
      {{ title_prefix }}
      {% if label %}
        <div class="block-title-wrapper">
          <h2{{ title_attributes.addClass(title_classes) }}>
            {{ label }}
          </h2>
        </div>
      {% endif %}
      {{ title_suffix }}
    {% endblock %}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
{% elseif (lang == 'en') %}

{% else %}

{% endif %}

